@charset "utf-8";

.article {
    background-color: lightgrey;
    font-size: small;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    width: 324px;
}

.article-title {
    font-weight: bold;
}

.article-title-icon {
    width: 60px;
}

.article-title-img {
    max-width: 100%;
    width:30px;
}

.padding-default {
    padding: 7px 10px 1px 10px;
}