################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Challenge.CacheFunction.API/obj
/.vs
/CachFuncion/.vs/Challenge
/CachFuncion/Challenge/bin/Debug/netcoreapp2.1
/CachFuncion/Challenge/obj
